* {
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
  }
  
  
.barra{
    display: inline-flex; 
    margin: 10px;
    padding-left: 19%;
}
ul{
    list-style: none;
}
a{
    padding-left: 10px;
    text-decoration: none;
}

.vermelho{
    color: #c4170c;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.02em;
    margin-left: 1px;
    margin-right: 1px;
    padding: 9px 7px 12px;
}
.vermelho:hover {
    border-top: 4px solid #c4170c;
  }
.verde{
    color: #06aa48;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.02em;
    margin-left: 1px;
    margin-right: 1px;
    padding: 9px 7px 12px;
}
.verde:hover {
    border-top: 4px solid #06aa48;
  }
.laranja{
    color: #ff6700;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.02em;
    margin-left: 1px;
    margin-right: 1px;
    padding: 9px 7px 12px;
}
.laranja:hover {
    border-top: 4px solid #ff6700;
  }
.vermelho2{
    color: #fb0234;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.02em;
    margin-left: 1px;
    margin-right: 1px;
    padding: 9px 7px 12px;
}
.vermelho2:hover {
    border-top: 4px solid #fb0234;
  }
  .verdeclaro{
      background-color: #06aa48;
      padding: 12px;
      text-align: center;
  }
  .esports{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    position: relative;
    right: 1%;
  }
  .verdeescuro{
      background-color: #079241;
      text-align: center;
      padding: 5px;
  }
  .cs{
      color: #fff;
      text-decoration: none;
      font-size: 20px;
  }
  .ge{
      color: #fff;
      text-decoration: none;
      font-size: 40px;
      position: relative;
      right: 25%;
  }
  .menu{
      width: 25px;
      height: 25px;
      position: relative;
      right: 25%;
  }
  .lupa{
      width: 35px;
      height: 25px;
      position: relative;
      left: 25%;
  }
  .h1{
      font-weight: bold;
      font-size: 35px;
      padding-top: 50px;
      padding-bottom: 15px;

}
    .p{
        color: #464646;
    }
  .gc{
      width: 610px;
      height: 410px;
      display: block;
      margin-left: auto;
      margin-right: auto }
      
  
  .box{
      border-bottom: 1px solid #dbdbdb;
      width: 900px;
      margin: auto;
      padding-bottom: 60px;
  }
.p2{
    font-weight: bold;
    color: #464646;
}
.por{
    padding-top: 15px;
    display: flex;
    padding-bottom: 10px;
}
.box2{
      width: 600px;
      margin: auto;
      padding-top: 60px;

}
.p3{
    font-size: 20px;
    padding-bottom: 50px;
}
.p4{
    font-size: 15px;
    color: #464646;
    padding-top: 10px;
    padding-bottom: 20px;
}
@media screen and (max-width: 400px){
    * {
        margin: 0;
        padding: 0;
        font-family: 'Akshar', sans-serif;
      }
      
      
    .barra{
        display: inline-flex; 
        margin: 10px;
        padding-left: 19%;
    }
    ul{
        list-style: none;
    }
    a{
        padding-left: 10px;
        text-decoration: none;
    }
    
    .vermelho{
        color: #c4170c;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.02em;
        margin-left: 1px;
        margin-right: 1px;
        padding: 9px 7px 12px;
    }
    .vermelho:hover {
        border-top: 4px solid #c4170c;
      }
    .verde{
        color: #06aa48;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.02em;
        margin-left: 1px;
        margin-right: 1px;
        padding: 9px 7px 12px;
    }
    .verde:hover {
        border-top: 4px solid #06aa48;
      }
    .laranja{
        color: #ff6700;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.02em;
        margin-left: 1px;
        margin-right: 1px;
        padding: 9px 7px 12px;
    }
    .laranja:hover {
        border-top: 4px solid #ff6700;
      }
    .vermelho2{
        color: #fb0234;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.02em;
        margin-left: 1px;
        margin-right: 1px;
        padding: 9px 7px 12px;
    }
    .vermelho2:hover {
        border-top: 4px solid #fb0234;
      }
      .verdeclaro{
          background-color: #06aa48;
          padding: 12px;
          text-align: center;
          width: 215%;
      }
      .esports{
        text-decoration: none;
        color: #fff;
        font-size: 40px;
        font-weight: 300;
        position: relative;
        right: 1%;
      }
      .verdeescuro{
          background-color: #079241;
          text-align: center;
          padding: 5px;
      }
      .cs{
          color: #fff;
          text-decoration: none;
          font-size: 20px;
      }
      .ge{
          color: #fff;
          text-decoration: none;
          font-size: 40px;
          position: relative;
          right: 25%;
      }
      .menu{
          width: 25px;
          height: 25px;
          position: relative;
          right: 25%;
      }
      .lupa{
          width: 35px;
          height: 25px;
          position: relative;
          left: 25%;
      }
      .h1{
          font-weight: bold;
          font-size: 35px;
          padding-top: 50px;
          padding-bottom: 15px;
    
    }
        .p{
            color: #464646;
        }
      .gc{
          width: 610px;
          height: 410px;
          display: block;
          margin-left: auto;
          margin-right: auto }
          
      
      .box{
          border-bottom: 1px solid #dbdbdb;
          width: 900px;
          margin: auto;
          padding-bottom: 60px;
      }
    .p2{
        font-weight: bold;
        color: #464646;
    }
    .por{
        padding-top: 15px;
        display: flex;
        padding-bottom: 10px;
    }
    .box2{
          width: 600px;
          margin: auto;
          padding-top: 60px;
    
    }
    .p3{
        font-size: 20px;
        padding-bottom: 50px;
    }
    .p4{
        font-size: 15px;
        color: #464646;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}
    
